.fretboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fretboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.string {
  display: flex;
}
.fret {
  width: 40px;
  height: 30px;
  border: 1px solid #d1a000;
  background-color: #584100;
}
.fret-marker-row {
  display: flex;
  margin-top: 5px;
}

.fret-marker {
  width: 40px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

